body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;

    background-color: #EEEEEE;
}

h1, h2, h3, p {
    margin: 0;
}
  
h1 {
	font-family: 'The Nautigal', cursive;
    font-size: 80px;
    line-height: 90px;
}
  
h2 {
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 18px;
}
  
a {
    text-decoration: none;
    color: unset;
}
  
.page-wrapper {
    margin: 0 auto;
}

/* -------------- Header -------------- */
.header a {
    text-transform: uppercase;
}

.header a:hover {
	color: #EEEEEE;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
	column-gap: 10%;

    padding: 20px 5%;
    margin-bottom: 20px;

	background-color: #30B7B1;
}

.header-avatar-img {
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

.header-right {
	display: flex;
    align-items: center;
    justify-content: space-evenly;
	flex-direction: column;	
	row-gap: 20px;
}

.header-nav {
    font-size: 14px;
    letter-spacing: 0.2em;
}

.header-nav-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 20px;

    list-style: none;
    margin: 0;
    padding: 0;
}

/* -------------- Main -------------- */
.main {
	display: flex;
	flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    padding: 10px 5%;
	margin: 0 auto;
	max-width: 1400px;
}

.main-section {
	width: 60%;
}

.main-section p {
	margin: 10px 0 40px;
}

.main-section h2 {
	margin: 10px 0;
}

.main-section ul {
	margin-bottom: 40px;
}

.main-section li {
	margin: 10px 0;
}

.aside {
	width: 25%; 
	/* padding-left: 10%; */
}

.aside ul {
	padding: 0 0 0 25px;
	margin-bottom: 40px;
}

.aside li{
	margin: 5px 0;
}

/* -------------- Footer -------------- */
.footer {
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 10px 5%;

	background-color: #30B7B1;
}

.footer-year {
	font-family: 'The Nautigal', cursive;
    font-size: 40px;
}

.footer-rss-logo {
	width: 120px;
}